.app__cadastro{
    background-image: url(../IAMGENS/Patas.png), url(../IAMGENS/Forma\ 1.png) ;
    background-repeat: no-repeat, no-repeat;
    background-color: #ffffff;
    background-position: top right, top left;
    background-size: auto;
}


.title__cadastro{
    display: flex;
    flex-direction: column;
    display: flex;
    margin-top: 25%;
    align-items: center;
    justify-content: center;
    align-self: center;
}


.logo__azul{
    width: 40%;
}

.texto{
    font-family: 'Poppins', sans-serif;
    color: #3772FF;
    margin-bottom: .7rem;
    font-size: 16px;
    margin-top: 1rem;
    line-height: 21px;
}

.texto__sec{
    font-family: 'Poppins', sans-serif;
    color: #3772FF;
    text-align: center;
    font-size: 16px;
    line-height: 21px;
}

@media(min-width: 768px){
    .app__cadastro{
        background-size:31vh, 56vh;
    }

    .logo__azul{
        width: 30vh;
    }
    .texto, .texto__sec{
        font-size: 18px;
        line-height: 26px;
    }
}

@media(min-width: 1440px){
    .app__cadastro{
        background-size: 31vh, 80vh;
    }
    .title__cadastro{
        margin-top: 5%;
    }

    .main__cadastro{
        margin-bottom: 10rem;
    }
}


