.app{
    background-image: url(../IAMGENS/Forma\ 1.png);
    background-repeat: no-repeat;
    background-color: #3772FF;
    background-size: 35vh;
}

.principal{
    background-image: url(../IAMGENS/Forma\ 2.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 8.94vh;
}
.text{
    text-align: center;
    flex-wrap: wrap;
}

.text__principal{
    font-family: 'IBM Plex Sans', sans-serif;
    color: #ffffff;
    margin-top: 2.3rem;
    font-weight: 500;
    font-size: 26px;
    line-height: 48px;
}

.text__sec{
    font-family: 'Poppins', sans-serif;
    display: flex;
    color: #ffffff;
    margin-top: 4%;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.buttom{
    display: flex;
    padding-top: 2rem;
    align-items: center;
    flex-direction: column;

}

.butao{
    font-family: 'Poppins', sans-serif;
    display: flex;
    text-align: center;
    align-items: center;
    width: 180px;
    height: 40px;
    border-radius: 6px;
    background-color:#FC7071;
    color: #ffffff;
    border: 1px solid #FC7071;
    justify-content: space-around;
    margin-top: .5rem;
} 

.ilustracao{   
    display: flex;
    padding-top: 1rem;
    align-items: center;
    justify-content: center;
    vertical-align: bottom;
}



@media (min-width:768px){
    .app{
        background-size: 56vh;
    }
    
    .text__principal{
        font-size: 28px;
    }

    .text__sec{
        font-size: 20px;
    }

    .butao{
        width: 344px;
        height: 48px;
    }

    .principal{
       background-size: 14vh;
    }
}

@media (min-width:1440px){
    .app{
        background-size: 62vh;
    }
    .butao{
        width: 362px;
        height: 48px;
    }
}